Prefix:
DatabaseDir: ./data

Notify: []

Config:
    ParallelTask: 4

Email:
    from:
    to:
    host:
    port:
    username:
    password:
    subject:

qiniu:
    accessKey:
    secretKey:
    region:
    bucket:
OSS:
    accessKey:
    secretKey:
    endpoint:
    bucket:
COS:
    region:
    accessKey:
    secretKey:
minio:
    accessKeyID:
    secretAccessKey:
    endpoint:
    bucket:
    useSSL:
s3:
    accessKeyID:
    secretAccessKey:
    bucket:
    region:
