Debug: true                  # 是否启用 Debug 模式

Prefix:                      # 上传到的云存储的域名前缀
DatabaseDir: ./data          # 数据库所在目录

Notify:
    - Email                  # 选择的通知方式

Config:
    ParallelTask: 4          # 同时执行的任务数

Email:                       # Email 的配置项
    from:                    # 显示的邮件发送方
    to:                      # 发送邮件的对象
    host:                    # 邮箱的 Host
    port:                    # 邮箱的 port
    username:                # 邮箱登陆的 username
    password:                # 邮箱登陆的 password

qiniu:
    accessKey:
    secretKey:
    region:
    bucket:
OSS:
    accessKey:
    secretKey:
    endpoint:
    bucket:
COS:
    region:
    accessKey:
    secretKey:
minio:
    accessKeyID:
    secretAccessKey:
    endpoint:
    bucket:
    useSSL:
s3:
    accessKeyID:
    secretAccessKey:
    bucket:
    region:
